<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Restaurant Apps Starter Project</title>
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <a id="hamburger" href="#" aria-label="navigation-menu">☰</a>
  <nav id="drawer" class="navbar">
    <h1>Restaurant</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="https://www.linkedin.com/in/haikal-jawahir-8b05b0236/">About</a></li>
      <li><a href="#">Favorite</a></li>
    </ul>
  </nav>
  <main>
    <div class="banner">
      <div>
        <h1>Restaurant Catalog</h1>
        <p>Yuk jelajahi restaurant Favorite anda</p>
      </div>
    </div>





    <div id="maincontent" class="wrapper">
      <div class="box" id="box"></div>
    </div>

  </main>



  <footer>
    <p>Copyright © 2020 - Hunger Apps haikal</p>
  </footer>

</body>

</html>